.jumbotron{
    background-image:url("./jumpstart_resources/images/jumbotron-bike.jpg");
    height:600px;
}


h1{
    text-shadow:3px 3px grey;
    display:flex;
    justify-content:center;
    font-size:7.1rem;
    font-family:Monoton;
}

.lead{
    display:flex;
    justify-content: center;
    text-shadow:3px 3px grey;
    margin-bottom:2.8rem;
}


.btn-primary{
    box-shadow: 0 0 3px rgba(0,0,0.5);
  
   
  

  
}


.btn-primary:hover{
    box-shadow: 0,0 12px rgba(0,0,0,0.5);
  
}

.btn-primary:active{
   box-shadow:0 0 0 rgba(0,0,0,0.5);
}



/* slick background-images */


/* Mid section stylin */

.jumbotron-beer{
    background-image:url('./jumpstart_resources/images/jumbotron-beer.jpg');
}

.jumbotron-duffel{
    background-image:url('./jumpstart_resources/images/jumbotron-duffel.jpg');
}

.jumbotron-flowers{
    background-image:url('./jumpstart_resources/images/jumbotron-flowers.jpg');
}


.jumbotron-bike{
    background-image:url('./jumpstart_resources/images/jumbotron-bike.jpg');
}


/* Featured projects section */

.documentary {
    text-align:center;
    
}

.container h2{

  margin-bottom:20px;
}

.featured{
    text-align:center;
}


.product h2,p {
   line-height: 1.4rem;
   text-align:center;
   margin-left:20px;
  


}

.product h2{
    margin-left:30px;
    color:blue;
}

.leo{
    text-align:left;
}

.inventors{
    text-align:center;
    margin-bottom:56px;
    line-height:1.4rem;
}

.h1{
    margin-top:56px;
    font-weight:2.5rem;
    font-weight:bold;
   





         
        
         
     }


     .container img:hover{
        width:112%;
        opacity:0.7;
        transition-property:all,200ms;
      
        
     }
     
     
     .container-fluid img:hover {
         width:98%;
         display:inline-flex;
         flex-direction:column;
         opacity:0.7;
         transition:all,200ms;
       
        
         
     }
     

     